<div class="like-button">
<%= link_to '', like_picture_path(@picture.id), id: "like_#{@picture.id}", class: "like glyphicon #{liked_picture @picture}" %>
</div>

<div class="likes" id="likes_<%= picture.id %>">
  <%= display_likes picture %>
</div>
