<h2>Most Popular Tags:</h2>
<ol>
  <% Tag.most_popular.each do |t|%>
  <li><%= t %></li>
  <% end %>
</ol>


<h2>Most Trending Tag:</h2>
<li><%= Tag.trending %></li> 

<h2>All pictures of the app:</h2>

<table>
  <% @pictures.reverse_each do |pic|%>
  <tr>
    <td><%= link_to image_tag(pic.image_url, width: "200"), picture_path(pic) %></td>
  </tr>
  <% end %>
</table>
